@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    background-color: white;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.Login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: block;
    position: relative;
}